ignorethistest.txt
2_IntroDS/turnstile_data_master_with_weather.csv
3_Mongo/UdacityNanoDegreeP2/data/chicago_illinois.osm.bz2
3_Mongo/UdacityNanoDegreeP2/data/cities.csv
3_Mongo/UdacityNanoDegreeP2/data/twitter.json
3_Mongo/UdacityNanoDegreeP2/FinalProject/data_dublin/
4_R/data/BigDiamonds.Rda
4_R/data/cacert.perm
4_R/data/fb_oauth
4_R/fb.R
5_MachineLearning/PythonProject/data/