ignorethistest.txt
IntroDS/turnstile_data_master_with_weather.csv
Mongo/UdacityNanoDegreeP2/data/chicago_illinois.osm.bz2
Mongo/UdacityNanoDegreeP2/data/cities.csv
Mongo/UdacityNanoDegreeP2/data/twitter.json
Mongo/UdacityNanoDegreeP2/FinalProject/data_dublin/